<h1>ユーザー一覧</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>年齢</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.answer %></td>
        <td><%= user.field %></td>
        <td><%= user.fin_field %></td>
        <td><%= user.question %></td>
        <td><%= user.study_day %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "インポート" %>
  <% end %>